{% extends 'AppBundle::base.html.twig' %}

{% set seo_title = 'Add insults to our database' %}

{% block body %}

    <div class="jumbotron">
        <p class="lead">Create a insult</p>

        <hr>
        <br />

        <form action="">
            <div class="form-group">
                <label for="insult">Write an insult</label>
                <textarea class="form-control" id="insult" rows="3"></textarea>
            </div>

            <div class="form-group">
                <label for="level">Describe insult level</label>
                <select class="form-control" name="level" id="level">
                    <option class="form-control" value="1">Posh</option>
                    <option class="form-control" value="2">Normal</option>
                    <option class="form-control" value="3">Brutal</option>
                </select>
                <br />
                <input type="submit" value="Create" class="btn btn-primary">
            </div>
        </form>
    </div>


{% endblock %}